* {
    font-family: monospace;
}

body {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 12pt;
}

.left {
    float: left;
    padding-right: 15px;
}

.right {
    padding-left: 15px;
    float: right;
}

.clearfix {
    clear: both;
}