{% extends "base.html" %}

{% block title %}
    Zadacha Home
{% endblock %}

{% block content %}
<h1> Zadacha is Coming Soon! </h1>
<p>
    Sign up below to be notified of the projects progress.
</p>

<!-- Begin HubSpot Form-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "4959286",
	formId: "8b31a159-2d82-4afe-8139-1e915f641fb8"
});
</script>
<!-- End HubSpot Form -->

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4959286.js"></script>
<!-- End of HubSpot Embed Code -->
{% endblock %}